
body {
  margin: 0;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}

/* Background image layer */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('images/bkgd.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.4; 
  z-index: -2;
}

/* Dark overlay layer */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(117, 117, 117, 0.5); 
  z-index: -1;
}


/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  padding-left: 20px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px
}

.navbar-left a,
.navbar-right a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-weight: bold;
}

.navbar-left a:hover,
.navbar-right a:hover {
  color: #025585;
}

.navbar-left a:active{
    transform: rotate(5deg);
}


.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.search-bar {
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.sub-navbar {
  background-color: #ccc;
  padding: 8px 20px;
  text-align: center;
}

.sub-navbar a {
  text-decoration: none;
  color: black;
  margin: 15px;
  font-weight: bold;
}

.sub-navbar a:hover {
  color: #025585;
}